# Problem statement: Predicting whether a particular household needs welfare assistance?

In [2]:
## Variable name, Variable description
#v2a1, Monthly rent payment
#hacdor, =1 Overcrowding by bedrooms
#rooms,  number of all rooms in the house
#hacapo, =1 Overcrowding by rooms
#v14a, =1 has bathroom in the household
#refrig, =1 if the household has refrigerator
#v18q, owns a tablet
#v18q1, number of tablets household owns
#r4h1, Males younger than 12 years of age
#r4h2, Males 12 years of age and older
#r4h3, Total males in the household
#r4m1, Females younger than 12 years of age
#r4m2, Females 12 years of age and older
#r4m3, Total females in the household
#r4t1, persons younger than 12 years of age
#r4t2, persons 12 years of age and older
#r4t3, Total persons in the household
#tamhog, size of the household
#tamviv, number of persons living in the household
#escolari, years of schooling
#rez_esc, Years behind in school
#hhsize, household size
#paredblolad, =1 if predominant material on the outside wall is block or brick
#paredzocalo, "=1 if predominant material on the outside wall is socket (wood,  zinc or absbesto"
#paredpreb, =1 if predominant material on the outside wall is prefabricated or cement
#pareddes, =1 if predominant material on the outside wall is waste material
#paredmad, =1 if predominant material on the outside wall is wood
#paredzinc, =1 if predominant material on the outside wall is zink
#paredfibras, =1 if predominant material on the outside wall is natural fibers
#paredother, =1 if predominant material on the outside wall is other
#pisomoscer, "=1 if predominant material on the floor is mosaic,  ceramic,  terrazo"
#pisocemento, =1 if predominant material on the floor is cement
#pisoother, =1 if predominant material on the floor is other
#pisonatur, =1 if predominant material on the floor is  natural material
#pisonotiene, =1 if no floor at the household
#pisomadera, =1 if predominant material on the floor is wood
#techozinc, =1 if predominant material on the roof is metal foil or zink
#techoentrepiso, "=1 if predominant material on the roof is fiber cement,  mezzanine "
#techocane, =1 if predominant material on the roof is natural fibers
#techootro, =1 if predominant material on the roof is other
#cielorazo, =1 if the house has ceiling
#abastaguadentro, =1 if water provision inside the dwelling
#abastaguafuera, =1 if water provision outside the dwelling
#abastaguano, =1 if no water provision
#public, "=1 electricity from CNFL,  ICE,  ESPH/JASEC"
#planpri, =1 electricity from private plant
#noelec, =1 no electricity in the dwelling
#coopele, =1 electricity from cooperative
#sanitario1, =1 no toilet in the dwelling
#sanitario2, =1 toilet connected to sewer or cesspool
#sanitario3, =1 toilet connected to  septic tank
#sanitario5, =1 toilet connected to black hole or letrine
#sanitario6, =1 toilet connected to other system
#energcocinar1, =1 no main source of energy used for cooking (no kitchen)
#energcocinar2, =1 main source of energy used for cooking electricity
#energcocinar3, =1 main source of energy used for cooking gas
#energcocinar4, =1 main source of energy used for cooking wood charcoal
#elimbasu1, =1 if rubbish disposal mainly by tanker truck
#elimbasu2, =1 if rubbish disposal mainly by botan hollow or buried
#elimbasu3, =1 if rubbish disposal mainly by burning
#elimbasu4, =1 if rubbish disposal mainly by throwing in an unoccupied space
#elimbasu5, "=1 if rubbish disposal mainly by throwing in river,  creek or sea"
#elimbasu6, =1 if rubbish disposal mainly other
#epared1, =1 if walls are bad
#epared2, =1 if walls are regular
#epared3, =1 if walls are good
#etecho1, =1 if roof are bad
#etecho2, =1 if roof are regular
#etecho3, =1 if roof are good
#eviv1, =1 if floor are bad
#eviv2, =1 if floor are regular
#eviv3, =1 if floor are good
#dis, =1 if disable person
#male, =1 if male
#female, =1 if female
#estadocivil1, =1 if less than 10 years old
#estadocivil2, =1 if free or coupled uunion
#estadocivil3, =1 if married
#estadocivil4, =1 if divorced
#estadocivil5, =1 if separated
#estadocivil6, =1 if widow/er
#estadocivil7, =1 if single
#parentesco1, =1 if household head
#parentesco2, =1 if spouse/partner
#parentesco3, =1 if son/doughter
#parentesco4, =1 if stepson/doughter
#parentesco5, =1 if son/doughter in law
#parentesco6, =1 if grandson/doughter
#parentesco7, =1 if mother/father
#parentesco8, =1 if father/mother in law
#parentesco9, =1 if brother/sister
#parentesco10, =1 if brother/sister in law
#parentesco11, =1 if other family member
#parentesco12, =1 if other non family member
#idhogar, Household level identifier
#hogar_nin, Number of children 0 to 19 in household
#hogar_adul, Number of adults in household
#hogar_mayor, # of individuals 65+ in the household
#hogar_total, # of total individuals in the household
#dependency, Dependency rate, calculated = (number of members of the household younger than 19 or older than 64)/(number of member of household between 19 and 64)
#edjefe, years of education of male head of household, based on the interaction of escolari (years of education), head of household and gender, yes=1 and no=0
#edjefa, years of education of female head of household, based on the interaction of escolari (years of education), head of household and gender, yes=1 and no=0
#meaneduc,average years of education for adults (18+)
#instlevel1, =1 no level of education
#instlevel2, =1 incomplete primary
#instlevel3, =1 complete primary
#instlevel4, =1 incomplete academic secondary level
#instlevel5, =1 complete academic secondary level
#instlevel6, =1 incomplete technical secondary level
#instlevel7, =1 complete technical secondary level
#instlevel8, =1 undergraduate and higher education
#instlevel9, =1 postgraduate higher education
#bedrooms, number of bedrooms
#overcrowding, # persons per room
#tipovivi1, =1 own and fully paid house
#tipovivi2, "=1 own,  paying in installments"
#tipovivi3, =1 rented
#tipovivi4, =1 precarious
#tipovivi5, "=1 other(assigned,  borrowed)"
#computer, =1 if the household has notebook or desktop computer
#television, =1 if the household has TV
#mobilephone, =1 if mobile phone
#qmobilephone, # of mobile phones
#lugar1, =1 region Central
#lugar2, =1 region Chorotega
#lugar3, =1 region PacÃƒÂ­fico central
#lugar4, =1 region Brunca
#lugar5, =1 region Huetar AtlÃƒÂ¡ntica
#lugar6, =1 region Huetar Norte
#area1, =1 zona urbana
#area2, =2 zona rural
#age, Age in years
# Target variable: Binary variable with 2 possible values
# Household needs welfare assistance(0)
#Household doesn't need welfare assistance(1)

## 1. Importing libraries

In [24]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')
import seaborn as sns
from sklearn.ensemble import RandomForestClassifier
from sklearn.feature_selection import SelectFromModel

In [25]:
tr = pd.read_csv('/content/train.csv',sep=';', thousands=',')

## Exploratory data analysis

### Check for data types and look for null or missing values

In [26]:
tr.head(5)

,target,v2a1,hacdor,rooms,hacapo,v14a,refrig,v18q1,r4h1,r4h2,...,computer,television,qmobilephone,lugar1,lugar2,lugar3,lugar4,lugar5,rural,age
0,0,0.0,0,4,0,1,1,0,0,1,...,0,0,3,1,0,0,0,0,1,43
1,0,0.0,0,8,0,1,1,1,0,1,...,0,0,3,0,0,0,0,0,1,18
2,0,0.0,0,5,0,1,1,0,0,2,...,0,1,2,0,0,1,0,0,0,62
3,1,0.0,0,8,0,1,1,2,0,2,...,1,1,4,1,0,0,0,0,0,20
4,0,350000.0,0,5,0,1,1,3,1,1,...,1,0,3,1,0,0,0,0,0,3

In [27]:
tr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7639 entries, 0 to 7638
Data columns (total 92 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   target         7639 non-null   int64
 1   v2a1           7639 non-null   float64
 2   hacdor         7639 non-null   int64
 3   rooms          7639 non-null   int64
 4   hacapo         7639 non-null   int64
 5   v14a           7639 non-null   int64
 6   refrig         7639 non-null   int64
 7   v18q1          7639 non-null   int64
 8   r4h1           7639 non-null   int64
 9   r4h2           7639 non-null   int64
 10  r4m1           7639 non-null   int64
 11  r4m2           7639 non-null   int64
 12  escolari       7639 non-null   int64
 13  pared1         7639 non-null   int64
 14  pared2         7639 non-null   int64
 15  pared3         7639 non-null   int64
 16  pared4         7639 non-null   int64
 17  pared5         7639 non-null   int64
 18  pared6         7639 non-null   int64
 19  pared7         7639 non-null   int64
 20  piso1          7639 non-null   int64
 21  piso2          7639 non-null   int64
 22  piso3          7639 non-null   int64
 23  techo1         7639 non-null   int64
 24  techo2         7639 non-null   int64
 25  cielorazo      7639 non-null   int64
 26  water          7639 non-null   int64
 27  electro1       7639 non-null   int64
 28  electro2       7639 non-null   int64
 29  electro3       7639 non-null   int64
 30  sanitario1     7639 non-null   int64
 31  sanitario2     7639 non-null   int64
 32  sanitario3     7639 non-null   int64
 33  energcocinar1  7639 non-null   int64
 34  energcocinar2  7639 non-null   int64
 35  energcocinar3  7639 non-null   int64
 36  elimbasu1      7639 non-null   int64
 37  elimbasu2      7639 non-null   int64
 38  elimbasu3      7639 non-null   int64
 39  epared1        7639 non-null   int64
 40  epared2        7639 non-null   int64
 41  etecho1        7639 non-null   int64
 42  etecho2        7639 non-null   int64
 43  eviv1          7639 non-null   int64
 44  eviv2          7639 non-null   int64
 45  dis            7639 non-null   int64
 46  female         7639 non-null   int64
 47  estadocivil1   7639 non-null   int64
 48  estadocivil2   7639 non-null   int64
 49  estadocivil3   7639 non-null   int64
 50  estadocivil4   7639 non-null   int64
 51  estadocivil5   7639 non-null   int64
 52  estadocivil6   7639 non-null   int64
 53  parentesco1    7639 non-null   int64
 54  parentesco2    7639 non-null   int64
 55  parentesco3    7639 non-null   int64
 56  parentesco4    7639 non-null   int64
 57  parentesco5    7639 non-null   int64
 58  parentesco6    7639 non-null   int64
 59  parentesco7    7639 non-null   int64
 60  parentesco8    7639 non-null   int64
 61  parentesco9    7639 non-null   int64
 62  parentesco10   7639 non-null   int64
 63  parentesco11   7639 non-null   int64
 64  hogar_nin      7639 non-null   int64
 65  hogar_adul     7639 non-null   int64
 66  hogar_mayor    7639 non-null   int64
 67  meaneduc       7639 non-null   int64
 68  instlevel1     7639 non-null   int64
 69  instlevel2     7639 non-null   int64
 70  instlevel3     7639 non-null   int64
 71  instlevel4     7639 non-null   int64
 72  instlevel5     7639 non-null   int64
 73  instlevel6     7639 non-null   int64
 74  instlevel7     7639 non-null   int64
 75  instlevel8     7639 non-null   int64
 76  bedrooms       7639 non-null   int64
 77  overcrowding   7639 non-null   int64
 78  tipovivi1      7639 non-null   int64
 79  tipovivi2      7639 non-null   int64
 80  tipovivi3      7639 non-null   int64
 81  tipovivi4      7639 non-null   int64
 82  computer       7639 non-null   int64
 83  television     7639 non-null   int64
 84  qmobilephone   7639 non-null   int64
 85  lugar1         7639 non-null   int64
 86  lugar2         7639 non-null   int64
 87  lugar3         7639 non-null   int64
 88  lugar4         7639 non-null   int64
 89  lugar5         7639 non-null   int64
 90  rural          7639 non-null   int64
 91  age            7639 non-null   int64
dtypes: float64(1), int64(91)
memory usage: 5.4 MB

In [28]:
print(tr.isna().sum())

target    0
v2a1      0
hacdor    0
rooms     0
hacapo    0
         ..
lugar3    0
lugar4    0
lugar5    0
rural     0
age       0
Length: 92, dtype: int64

In [29]:
len(tr)

7639

In [30]:
col_names= tr.dtypes

In [31]:
col_names

target      int64
v2a1      float64
hacdor      int64
rooms       int64
hacapo      int64
           ...
lugar3      int64
lugar4      int64
lugar5      int64
rural       int64
age         int64
Length: 92, dtype: object

In [32]:
tr_specific_cols= ['meaneduc','v2a1','overcrowding']

In [33]:
for col in tr_specific_cols:
    print(tr[col].value_counts())

6           685
11          394
9           318
10          270
85          264
           ...
1425          3
37            3
33333334      3
375           3
27            2
Name: meaneduc, Length: 151, dtype: int64
0.0         5494
150000.0     195
100000.0     141
200000.0     127
120000.0     111
            ...
159751.0       1
294000.0       1
268153.0       1
191500.0       1
249896.0       1
Name: v2a1, Length: 156, dtype: int64
1           1601
2           1126
13333334     961
15           938
16666666     632
3            358
25           339
66666669     316
5            270
125          243
23333333     120
75           111
175           95
4             94
33333334      51
14            50
80000001      39
35            36
12            31
6             28
43333335      26
26666667      23
33333333      21
225           19
60000002      18
18333334      17
83333331      13
55            12
40000001      11
22            10
16            10
45             7
18             7
36666667       5
11666666       1
Name: overcrowding, dtype: int64

In [34]:
tr.describe()

,target,v2a1,hacdor,rooms,hacapo,v14a,refrig,v18q1,r4h1,r4h2,...,computer,television,qmobilephone,lugar1,lugar2,lugar3,lugar4,lugar5,rural,age
count,7639.000000,7.639000e+03,7639.000000,7639.000000,7639.000000,7639.000000,7639.000000,7639.000000,7639.000000,7639.000000,...,7639.000000,7639.000000,7639.000000,7639.000000,7639.000000,7639.000000,7639.000000,7639.000000,7639.000000,7639.000000
mean,0.378453,4.676409e+04,0.038879,4.944495,0.023432,0.994895,0.958633,0.321246,0.380809,1.559759,...,0.098311,0.283152,2.817515,0.591700,0.093075,0.060348,0.079461,0.093860,0.284200,34.277261
std,0.485033,1.072844e+05,0.193320,1.456287,0.151282,0.071274,0.199150,0.686310,0.681674,1.027156,...,0.297755,0.450559,1.472254,0.491551,0.290557,0.238146,0.270474,0.291654,0.451062,21.529493
min,0.000000,0.000000e+00,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000e+00,0.000000,4.000000,0.000000,1.000000,1.000000,0.000000,0.000000,1.000000,...,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,17.000000
50%,0.000000,0.000000e+00,0.000000,5.000000,0.000000,1.000000,1.000000,0.000000,0.000000,1.000000,...,0.000000,0.000000,3.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,31.000000
75%,1.000000,5.000000e+04,0.000000,6.000000,0.000000,1.000000,1.000000,0.000000,1.000000,2.000000,...,0.000000,1.000000,4.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,51.000000
max,1.000000,2.353477e+06,1.000000,11.000000,1.000000,1.000000,1.000000,6.000000,5.000000,8.000000,...,1.000000,1.000000,10.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,97.000000

In [35]:
print(tr['meaneduc'].dtypes)

int64

## Declare feature vector and target variable

In [36]:
X = tr.drop(['target'], axis=1)
y = tr['target']

In [37]:
X.shape,y.shape

((7639, 91), (7639,))

In [38]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=123)

## Model fitting and feature selection

In [39]:
sel = SelectFromModel(RandomForestClassifier(n_estimators=100))
sel.fit(X_train,y_train)

SelectFromModel(estimator=RandomForestClassifier())

## Seeing which features are important

In [40]:
sel.get_support()

array([ True, False,  True, False, False, False,  True,  True,  True,
        True,  True,  True,  True, False, False, False, False, False,
       False,  True,  True, False, False, False,  True, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False,  True,  True,  True, False,  True, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
        True,  True,  True,  True, False, False, False, False, False,
       False, False,  True,  True,  True, False, False, False, False,
       False,  True,  True, False, False, False, False, False, False,
        True])

In [41]:
selected_feat= X_train.columns[(sel.get_support())]
print(len(selected_feat))
print(selected_feat)

26
Index(['v2a1', 'rooms', 'v18q1', 'r4h1', 'r4h2', 'r4m1', 'r4m2', 'escolari',
       'pared1', 'piso1', 'piso2', 'cielorazo', 'epared2', 'etecho1',
       'etecho2', 'eviv2', 'hogar_nin', 'hogar_adul', 'hogar_mayor',
       'meaneduc', 'instlevel8', 'bedrooms', 'overcrowding', 'television',
       'qmobilephone', 'age'],
      dtype='object')

In [42]:
X_train[selected_feat]

,v2a1,rooms,v18q1,r4h1,r4h2,r4m1,r4m2,escolari,pared1,piso1,...,hogar_nin,hogar_adul,hogar_mayor,meaneduc,instlevel8,bedrooms,overcrowding,television,qmobilephone,age
6123,0.0,5,0,0,2,0,2,5,1,1,...,2,2,0,14,0,3,13333334,0,3,12
7249,120000.0,4,1,1,1,2,1,2,1,1,...,3,2,0,11,0,3,16666666,1,2,8
333,70000.0,5,0,0,2,0,2,6,0,0,...,1,3,0,43333335,0,3,13333334,1,4,39
388,150000.0,7,1,0,2,1,1,11,0,1,...,2,2,0,14,0,4,1,1,4,40
4777,0.0,5,0,0,1,2,2,11,0,0,...,3,2,0,11,0,2,25,0,5,33
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4060,0.0,5,0,0,3,1,1,5,0,1,...,2,3,0,43333335,0,3,16666666,0,3,33
1346,0.0,6,0,1,2,1,1,0,1,1,...,3,2,0,75,0,4,125,0,2,0
3454,120000.0,4,1,0,1,1,1,0,1,1,...,1,2,0,135,0,2,15,0,2,5
7533,0.0,7,0,1,4,1,3,3,0,0,...,4,5,0,54000001,0,5,18,0,3,23
3582,0.0,3,0,0,1,0,2,7,0,0,...,1,2,0,55,0,2,15,0,3,16

In [43]:
sel.estimator_

RandomForestClassifier()

In [44]:
#sel.estimator_.predict(X_test[selected_feat])
model_with_selected_feats = RandomForestClassifier()
model_with_selected_feats.fit(X_train[selected_feat], y_train)

preds = model_with_selected_feats.predict(X_test[selected_feat])
np.mean(preds == y_test)

0.912739965095986

In [45]:
selected_feat

Index(['v2a1', 'rooms', 'v18q1', 'r4h1', 'r4h2', 'r4m1', 'r4m2', 'escolari',
       'pared1', 'piso1', 'piso2', 'cielorazo', 'epared2', 'etecho1',
       'etecho2', 'eviv2', 'hogar_nin', 'hogar_adul', 'hogar_mayor',
       'meaneduc', 'instlevel8', 'bedrooms', 'overcrowding', 'television',
       'qmobilephone', 'age'],
      dtype='object')